# .gitignore file
.venv/
OnSight_Pathology/
runs/
logs/
.ipynb_checkpoints/
build/
lemon/
MEDIAR/
celltest/
dist/
output-gpu/
NuLite/
app_one_dir.spec
.vscode/
installer-gpu.iss

__pycache__/
.vscode/
data/
datasets/
bundled_models/


*.pth
*.exe
*.mp4
*.zip
*.pkl
*.h5
*.png
*.pt
*.h5ad
*.csv
checkpoint/
github/
*.bin
!test_data/*.png
###git reset --soft HEAD~2
###git rm --cached output-gpu/*.bin