# .gitignore file
.venv/
runs/
logs/
.ipynb_checkpoints/
build/
lemon/
MEDIAR/
celltest/
dist/
output-gpu/
NuLite/
app_one_dir.spec
.vscode/

__pycache__/
data/
datasets/


*.pth
*.exe
*.mp4
*.zip
*.pkl
*.h5
*.png
*.h5ad
*.csv
checkpoint/
github/
*.bin

###git reset --soft HEAD~2
###git rm --cached output-gpu/*.bin