# Git Ignore File for OnSight Pathology Revision
.venv/
runs/
logs/
.ipynb_checkpoints/
build/
NuLite/
lemon/
MEDIAR/
celltest/


data/
datasets/


*.pth
*.exe
*.mp4
*.zip
*.pkl
*.h5
*.png
*.h5ad
*.csv
checkpoint/
github/
dist/
build/